# Imports

In [1]:
import pandas as pd
from datetime import date

# Load Data

In [3]:
transactions_df = pd.read_csv(
    './data/synthetic_transactions.csv',
    delimiter = ',',
    header = 0
)

In [2]:
alerts_df = pd.read_csv(
    './data/synthetic_alerts.csv',
    delimiter = ',',
    header = 0
)

# Transform Data

In [7]:
alerts_df.head()

   AlertID        Date  Outcome
0        1  2020-01-01   Report
1        2  2020-01-01   Report
2        3  2020-01-01  Dismiss
3        4  2020-01-01  Dismiss
4        5  2020-01-01  Dismiss

In [6]:
transactions_df = transactions_df.astype(
    {
        'AlertID': 'str',
        'Timestamp': 'datetime64[ns]',
        'Entry': 'str',
        'Type': 'str',
        'Size': 'float64',
    }
)

In [9]:
alerts_df = alerts_df.astype(
    {
        'bAlertID': 'str',
        'Outcome': 'str',
    }
)

In [25]:
alerts_df['Date'] = alerts_df['Date'].apply(date.fromisoformat)

# Explore Data

In [12]:
transactions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16232955 entries, 0 to 16232954
Data columns (total 5 columns):
 #   Column     Dtype
---  ------     -----
 0   AlertID    object
 1   Timestamp  datetime64[ns]
 2   Entry      object
 3   Type       object
 4   Size       float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 619.2+ MB

In [11]:
alerts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   AlertID  20000 non-null  object
 1   Date     20000 non-null  object
 2   Outcome  20000 non-null  object
dtypes: object(3)
memory usage: 468.9+ KB

In [40]:
sum(transactions_df['AlertID'].isna())

0

In [41]:
sum(transactions_df['Timestamp'].isna())

0

In [42]:
sum(transactions_df['Entry'].isna())

0

In [43]:
sum(transactions_df['Type'].isna())

0

In [44]:
sum(transactions_df['Size'].isna())

0

In [ ]:
transactions_df.value_counts(['Entry', 'Type'], sort = True, dropna = False)

In [37]:
alerts_df.value_counts(sort = True, dropna = False)

AlertID  Date        Outcome
1        2020-01-01  Report     1
3996     2020-06-20  Report     1
4000     2020-06-20  Dismiss    1
400      2020-01-17  Report     1
40       2020-01-02  Dismiss    1
                               ..
15999    2021-06-06  Dismiss    1
15998    2021-06-06  Dismiss    1
15997    2021-06-06  Dismiss    1
15996    2021-06-06  Dismiss    1
9999     2020-12-10  Report     1
Name: count, Length: 20000, dtype: int64

In [48]:
t_ids = set(transactions_df['AlertID'].unique())

In [49]:
a_ids = set(alerts_df['AlertID'].unique())

In [50]:
t_ids.difference(a_ids)

set()

In [51]:
a_ids.difference(t_ids)

set()

In [56]:
transactions_df.groupby('AlertID').size().sort_values()

AlertID
14393       1
6416        1
3257        1
108         1
14860       1
         ...
4341     2702
7803     2719
1215     2724
6745     2871
784      3009
Length: 20000, dtype: int64

In [58]:
outcome_counts = alerts_df['Outcome'].value_counts()

In [60]:
outcome_counts

Outcome
Dismiss    16565
Report      3435
Name: count, dtype: int64

In [61]:
outcome_counts / outcome_counts.sum()

Outcome
Dismiss    0.82825
Report     0.17175
Name: count, dtype: float64